
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
background-color: #fff;
// padding-top: 52px;
// width: 100%;
//
}

#body-builder {
  background-color: #fff;
//  padding-top: 52px;
}

.prof-pic {
  max-height: 232px;
}
// .input-group .form-control {
//   width: 230%;
// }
img {
  max-width: 100%;
}

/*************************************
   Header Styling
*************************************/
header {

  height: 50px;
  position: relative;
  top: 0;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  background:linear-gradient(#f5f5f5,#E9E9E9);
}

/*************************************
   Left Side of Header / Main Nav
*************************************/
.left-side-nav {
  // float: left;
  display: inline-block;
}
//******************** logo work
.logo-anchor {
  display: inline-block;

}

.logo-img {
  display: flex;
  align-items: center;
  height: 30px;
}

//******************** search bar
.search-github {
  display: inline-block;
  padding-left: 1%;
  width: 360px;

}


.git-search {
  display: inline-block;
  height: 28px;
  // .git-search::-webkit-input-placeholder{
  //   color: #C8C8C8;
  // }
}

/**** thank you stackoverflow ***** ---http://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css
*/
.git-search::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #C8C8C8;
}
//******************** navbar options

.nav-opt-ul {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
  vertical-align: top;

}

.nav-opt-ul>li {
  display: inline-block;
    a {
      padding: 4px 8px;
      display: block;
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      color: #333333;
    }
    a:hover {
      text-decoration: none;
      color: #4078c0
    }
}


/*************************************
   Right Side of Header / Main Nav
*************************************/


.plus-menu {
  height: 30px;
  width: 30px;
  border: none;
  background: none;
  padding: 0;
  margin: 0 auto;
}
.thumb-menu {
  height: 30px;
  width: 30px;
  border: none;
  background: none;
  padding: 0;
  margin: 0 auto;
  padding-left: 8px;
}
.thumb-pic {

  display: inline-block;
  img {
    height: 20px;
    width: 20px;
    border-radius: 3px;
  }
}
.right-nav {
  text-align: right;
  padding-top: 5px;
  .plus-ico {
  display: inline-block;
  }
  .prof-thumb {
    display: inline-block;
  }
}

.drop-menu-plus::after{

    top: -14px;
    right: 10px;
    left: auto;
}

/*************************************
  Main Body / fixed positioning
*************************************/

.main-body {
  // position: relative;
  background-color: #fff;
  // padding-top: 52px;

}

.menus {
  display: table;
  border-bottom: 1px #e5e5e5 solid;
  height: 62px;
  width: 100%;
  z-index: 150;
}

.fixed-nav-bar,
.main-body {
  position: relative;
}

.main-scrollby {
 // header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;

}

.main-nav-bar-toggle {
  display: none;

}

/*************************************
  Fixed NavBar *Overview*
*************************************/
.topper {
  margin-top: 24px;
}



.opt-li {
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    color: #767676;
    vertical-align: middle;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    color: #767676;

     .badge{
       background-color: #EAEAEA;
       color: #636363;
       margin-left: 5px;
     }
}



.opt-li:visited,
.opt-li:focus {
  color: #767676;
  text-decoration: none;
}

.opt-li:hover {
  color: #333;
  text-decoration: none;
}


.selected {

  border-bottom: 2px solid #C9520D;
  color: #333;
  text-decoration: none;

}

/*************************************
  Search Bar and Sort Buttons Row
*************************************/

.search-bar-row {
  height: 68px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #e5e5e5 solid;
  margin-bottom: 20px;
}

.search-bar{
  float: left;
  display: table-cell;
  width: 380px;
}
//see previous menu bar-- StackOverflow, you are my friend.
.search-repo-bar::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #C8C8C8;
}

#search-repo-bar {
  border-radius: 5px;
}

#language-button {
  background: linear-gradient(#FBFBFB, #EFEFEF);
  border-radius: 5px;
  color: #818181;
  font-weight: 500;


}
#type-button {
   @extend #language-button;

}

#type-button:hover {
  background-image: linear-gradient(#eee, #ddd);
}

#language-button:hover {
  //background-image: linear-gradient(#eee, #ddd);
  @extend #type-button:hover;
}

.type-button {
  width: 100%;
  margin: 0;
  text-align: right;
}
.type-all {
  padding-right: 0;
}

.type-lang {
  padding-left: 0;
}

.all-span {
  color: #333;
  opacity: 1;
}

.care,
.care2 {
  color: #333;
  opacity: 1;
}

#care2 {
  margin-left: 3px;
}
.new-btn {
  color: white;
  background: linear-gradient(#8EDA6C, #59B133);
  fill: #fff;
  border-color: #519d30;

}

.new-button {
  text-align: right;
}

.new-btn:hover,
.new-btn:focus {
  color: white;
  background-image: linear-gradient(#85d063, #4f992f);
}

.dropdown-header {
  height: 20px;
  font-weight: 600;
  font-size: 12px;
  background-color: #f4f4f4;

  overflow: hidden;
}
// .picture > img {
//   border-radius: 5px;
// }

/*************************************
  Individual Repo Template Stylings
*************************************/

.repos {
  height: 108px;
  padding-top: 30px;
  border-bottom: 1px #e5e5e5 solid;
}

#repo-name {
  font-size: 20px;
  font-weight: 600;
  color: #4078c0;
}

#repo-name:hover {
  color: #4078c0;
}

.repo-title {
  padding-bottom: 10px;

}

.left-side-of-repo {
  display: inline;
    .lang {
      display: inline;
      font-size: 12px;
      color: #767676;
      margin-right: 16px;
    }
    .updated {
      @extend .lang;
    }
}
.githeartbeat {
  float: right;
}


/*************************
  Lanuage Colors/Dots
**************************/
.dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.HTML {
  background-color: #FF3B16 ;
}

.CSS {
  background-color: #5B3D7D;
}

.JavaScript {

  background-color: #F1E05A ;
}

/*************************
  Profile/Bio Styling
**************************/
.bio {
  margin-right: -15px;
}
.name-and-user {
  padding-top: 16px;
  padding-bottom: 8px;

  .name > h3 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: -2px;
    margin-top: 0;
  }

  .username > h4 {
    font-size: 20px;
    font-weight: 300;
    color: #666;
    line-height: 24px;
    margin-top: 0;
    padding: 0;
  }
}
//******************** bio
.biography {
  font-size: 14px;
  color: #767676;
  overflow: hidden;
  line-height: 22px;
  width: 230px;
  border-bottom: 1px #e5e5e5 solid;
}
//************* company and email
.email-company {
  padding-top: 10px;
  font-weight: 600;
  color: #333;
  white-space: nowrap;

    img {
      margin-right: 5px;

    }

}

.org-pic {
  height: 38px;
  width: 38px;
  border-radius: 5px;
}

/*************************
  Footer Styling
**************************/
.main {
  position: relative;
}
.footer {
  padding:100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  border-top: 1px #e5e5e5 solid;
  width: 100%
}
