
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

.prof-pic {
  max-height: 232px;
}
.input-group .form-control {
  width: 230%;
}
img {
  max-width: 100%;
}

header {
  width: 100%;
  height: 50px;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}


.right-nav {
  .plus-ico {
  display: inline-block;
  }
  .prof-thumb {
    display: inline-block;
  }
}

.git-search {
  height: 28px;

}

.thumb-pic {
  height: 20px;
  width: 20px;
  display: inline-block;
  img {
    border-radius: 3px;
  }
}

.nav-lists {
  list-style: none;
  li {
    display: inline;
  }
}
.menus {
    padding-top: 25px;
   ul {
     list-style: none;
   }
   .opt-li {
     display: inline;
   }
  border-bottom: 1px #e5e5e5 solid;
  height: 64px;
  padding-bottom: 6px;
}

.logo-img {
  height: 40px;
  padding-bottom: 6px;
}
.search-bar {
  height: 68px;
  padding-top: 30px;
  border-bottom: 1px #e5e5e5 solid;
  margin-bottom: 20px;
}
.language-button {

}
.type-button {

}
.new-btn {
  color: white;
  background: linear-gradient(#8EDA6C, #59B133);
}
// .picture > img {
//   border-radius: 5px;
// }

.left-side-of-repo {
  display: inline;
    .lang {
      display: inline;
    }
    .updated {
      display: inline;
    }
}
.githeartbeat {
  float: right;
}
.repos {
  border-bottom: 1px #e5e5e5 solid;
}

/*************************
Lanuage Colors
**************************/
.dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.HTML {
  background-color: #FF3B16 ;
}

.CSS {
  background-color: #5B3D7D;
}

.JavaScript {

  background-color: #F1E05A ;
}

.repoicon {

  fill: #fff;
}

.org-pic {
  height: 20px;
  width: 20px;
}
